body{
 background-image: url("paper.gif");
    background-color: #cccccc;
   }
   hr{
       border-color: black;

   }

   .continoer{

    /* width: 1000px; */

    /* height: 500px; */
     
    flex-basis: 5vw;


    background-color: lavender;
    
 } 

img{
    width: 350px;

    height: 350px;

    padding: 10px;

}


  
  

     
       
    
