body{
 background-image: url("paper.gif");
    background-color: #cccccc;
   }
   hr{
       border-color: black;

   }

   .continoer{
       
    flex-flow: column;

    background-color: lavender;
   }

  button{
      background-color: lightblue;
  }